.game-container{
  border: 1px solid #aaa;
  background: #cef;
  overflow: hidden;
  position: relative;
}

input[multiple]{
  border: 5px dashed #ccc;
  -webkit-border-radius: 10px;
  width: 500px;
  height: 500px;
}

canvas{
  opacity: 0.2;
  display: none;
}

.player{
  position: absolute;
}

.player *{
  position: absolute;
}

.player .action{
  color: white;
  font-weight: bold;
  text-shadow: 0 0 2px black;
  position: absolute;
  top: 0;
  left: -50px;
  font-size: 1.3em;
  color: white;
  width: 100px;
  text-align: center;
  line-height: 20px;
}

.player .speech{
  background-image: url(/images/speechbubble.png);
  position: absolute;
  width: 101px;
  height: 107px;
  left: 0;
  top: -125px;
}
.player .speech label{
  padding: 10px;
  height: 80px;
  width: 80px;
}

.player.drowned .shadow{
  display: none;
}

.player.drowned .avatar{
  overflow: hidden;
  margin-top: 35px;
  clip:rect(0px,110px,100px,0px);
  -webkit-transition-property: clip, margin;
  -webkit-transition-duraction: 4s, 4s;
}

#playfield-container{
  background: #bef;
  position: absolute;
  top: 50px;
  left: 200px;
  right: 0;
  bottom: 30px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#acd), to(#bbc));
}
#playfield{
  position: absolute;
  left: 0;
  top: 0;
  width: 9000px;
  height: 2000px;
  cursor: move;
}

#playfield *{
  -moz-user-select: none;
  -webkit-user-select: none;
}

#playfield div{
  cursor: default;
}

.tile{
  position: absolute;
}

.tile label{
  position: absolute;
  left: 10px;
  top: 60px;
  font-size: x-small;
  -webkit-border-radius: 10px;
  background: white;
  padding: 5px 10px;
  color: #555;
  opacity: 0.5;
  display: none;
}

.tile .shadow{
  position: absolute;
  left: 0;
  top: -40px;
}

/*
 * Creature
 */ 
 
.creature{
  position: absolute;
}
.creature *{
  position: absolute;
}

.creature .action{
  color: white;
  font-weight: bold;
  text-shadow: 0 0 2px black;
  position: absolute;
  top: 0;
  left: -50px;
  font-size: 1.3em;
  color: white;
  width: 100px;
  text-align: center;
  line-height: 20px;
}

/*
 * Item
 */
 
.item{
  position: absolute;
}
.item *{
  position: absolute;
}

.menu{
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border: 3px solid #333;
  background: #f3f3f3;
  width: 180px;
  padding: 10px 0;
  
  position: absolute;
  z-index: 2000;
  display: none;
}

.menu .chevron{
  font-size: 30px;
  width: 30px;
  text-align: center;
  line-height: 0;
  color: #f3f3f3;
  text-shadow: 0 4px 0 #333;
  position: absolute;
  bottom: -10px;
  left: 60px;
}

.menu .name{
  margin: 0;
  color: #111;
  padding: 0 10px;
  text-shadow: 0px 1px 1px white;
}
.menu .description{
  margin: 10px 0 10px 0;
  font-size: 0.9em;
  color: #555;
  font-family: arial;
  padding: 0 10px;
}

.menu ul{
  margin: 0;
  padding: 0;
  color: #555;
}

.menu ul li{
  margin: 0 5px;
  padding: 0;
  list-style: none;
  line-height: 20px;
  border: 1px solid rgba(0,0,0,0);
  padding: 0 5px;
  z-index: 2010;
  position: relative;
}

.menu ul li.disabled{
  color: #ccc;
}

.menu ul li.enabled:hover{
  background: rgba(255,0,90,0.5);
  color: white;
  border: 1px solid #f07;
  -webkit-border-radius: 3px;
}

