html,body{
  background: white;
  margin: 0;
  padding: 0;
}

body{
  font: normal 0.9em arial;
}

h1,h3,h3{
  font-family: 'arial rounded mt bold';
}

input[multiple]{
  border: 5px dashed #ccc;
  -webkit-border-radius: 10px;
  width: 500px;
  height: 500px;
}

#header{
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #f07;
}

#footer{
  font-family: arial;
  font-size: 12px;
  text-align: center;
  color: #777;
  margin: 30px 0;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}
#footer a{
  color: #777;
}

#wrapper{
  width: 800px;
  margin: auto;
}

.f{
  position: relative;
  margin-bottom: 25px;
  padding-left: 100px;
}

.f label{
  position: absolute;
  left: 0;
  top: 5px;
  width: 90px;
  text-align: right;
  color: #777;
  font-size: 0.9em;
}

.f input, .f textarea{
  font: inherit;
}

.f input[name*=name]{
  font-size: 1.2em;
}

.f .CodeMirror-wrapping{
  border: 1px solid #aaa;
}

#item-viewer{
  float: right;
  margin: 0 0 20px 20px;
  width: 240px;
  height: 200px;
}